{% extends 'base.html' %}

{% block head %}
<style>
  h2 {
    text-align: center;
    margin: 100px auto;
    width: 60%;
    font-size: 4.5vw;
  }

  #pricing-info {
    width: 40%;
    border: 2px solid white;
    margin: 0 auto;
    text-align: center;
    font-size: 4vw;
    padding: 6.5vw 6.5vw;
  }

  #fee {
    font-size: 10vw;
  }

  #pricing-info > div:nth-of-type(3) {
    font-size: 2vw;
  }

  p:not(footer *) {
    width: 60%;
    margin: 70px auto;
    font-size: 3.5vw;
    text-align: center;
  }

  @media only screen and (min-width: 1050px) {
    h2 {
      font-size: 3.15vw;
    }
  
    #pricing-info {
      font-size: 2.8vw;
      padding: 4.55vw 4.55vw;
      width: 28%;
    }
  
    #fee {
      font-size: 7vw;
    }

    #pricing-info > div:nth-of-type(3) {
      font-size: 1.4vw;
    }

    p:not(footer *) {
      font-size: 2.45vw;
    }
    
  }
</style>
<title>Pricing - PotterBook</title>
{% endblock %}

{% block main %}
<h2>No complications. No ties. Just simple pricing.</h2>
<section id="pricing-info">
  <div id="fee">2%</div>
  <div>on every booking made</div>
  <div>(Stripe fees not included)</div>
</section>

<p>It really is that simple. We probably didn't even need to make a page dedicated to pricing it's that straightforward</p>
{% endblock %}
