{% extends 'base.html' %}

{% block head %}
<title>Terms & Conditions - PotterMouth</title>
<style>
  h1 {
    margin: 80px auto 60px auto;
    text-align: center;
  }

  #tc-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }

  p {
    margin: 7.5px auto;
  }

  p:first-of-type {
    margin-top: 30px;
  }

  h2 {
    margin-top: 20px;
  }

  #tc-container a {
    text-decoration: underline;
    font-size: 1.1em;
    color: lightgreen;
  }
</style>
{% endblock %}

{% block main %}
<h1>PotterMouth Terms & Conditions</h1>
<section id="tc-container">
  <p>These terms and conditions ("Terms") govern your use of the PotterMouth website ("Website") and constitute a legal agreement between you and PotterMouth. By accessing or using the Website, you agree to be bound by these Terms. If you do not agree with any part of these Terms, you must not use the Website.</p>
  
  <h2>1. Nature of the Website</h2>
  <p>PotterMouth is a platform for businesses to share their schedules with clients and receive payments for bookings. Businesses can verify bookings by scanning QR tickets sent to clients. Clients can access business schedules and make bookings through the Website.</p>

  <h2>2. User Accounts</h2>
  <p>a) Businesses: Businesses are required to create accounts on the Website. By creating an account, you represent that you are a legitimate business and agree to comply with these Terms.</p>
  <p>b) Clients: Clients accessing business schedules and making bookings do not need to create accounts on the Website.</p>

  <h2>3. User Responsibilities</h2>
  <p>a) Clients: Clients visiting business pages must conduct their own research to confirm the legitimacy of the business and ensure their satisfaction with the services offered. PotterMouth does not take responsibility for any funds lost due to interactions with businesses on the Website.</p>
  <p>b) Businesses: Businesses are responsible for maintaining the accuracy and adequacy of their schedule information. PotterMouth reserves the right to take action against businesses engaged in unethical practices on the Website.</p>
  
  <h2>4. Intellectual Property</h2>
  <p>Users are prohibited from copying or pasting PotterMouth's code into their own websites or applications.</p>

  <h2>5. Privacy and Data Protection</h2>
  <p>PotterMouth is committed to protecting user privacy and data. User information is stored securely in a PostgreSQL Database with railway.app. Passwords are hashed using Django. QR code tickets and password reset links are also hashed in the database. Please refer to our <a href="{% url 'privacy_policy' %}" target="_blank">Privacy Policy</a> for more details on how we collect, use, store, and protect user information.</p>
  
  <h2>6. Payments and Refunds</h2>
  <p>a) Fees: PotterMouth charges a 2% fee on the price of every booking made through the Website. Stripe, our payment partner, also charges its own fees directly to the user's Stripe account.</p>
  <p>b) Refunds: Fees charged by PotterMouth are non-refundable under any circumstances, except in cases where the problem arises from PotterMouth's end.</p>

  <h2>7. Liability Limitations</h2>
  <p>PotterMouth acts as a marketplace for businesses to showcase their services. While we make efforts to identify and address unethical practices on the Website, we do not assume liability for any losses, damages, or disputes arising from interactions between users.</p>
  
  <h2>8. Termination</h2>
  <p>PotterMouth reserves the right to suspend or terminate accounts of businesses and users suspected of engaging in fraudulent or unethical activity. Users may request the deletion of their accounts by contacting us through the contact page on the Website.</p>
  
  <h2>9. Governing Law and Jurisdiction</h2>
  <p>These Terms are governed by and construed in accordance with the laws of England and Wales. Any disputes arising from or related to these Terms shall be subject to the exclusive jurisdiction of the courts of England and Wales.</p>
</section>
{% endblock %}
